/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* common css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 30px;
}
.link-button{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    background: var(--btn-color);
    color: white;
    padding: 10px 24px;
    border-radius: 41px;
    display: inline-block;
}

/* color declaration*/
:root{
    --main-text:#3A3A3A;
    --gray:#787885;
    --btn-color:#E02C6D;
}

/* header section css */
.header-section{
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: bold;
    font-size: 24px;
    color: var(--main-text);
}
.navigation{
    display: flex;
    align-items: center;
}
.navigation ul{
    display: flex;
}
.navigation ul li{
    list-style: none;
}
.navigation ul li a{
    text-decoration: none;
    font-size: 16px;
    margin-right: 34px;
    color: var(--main-text);
    font-weight: 600;
}
.manubar-icon .fa-search{
    margin-right: 34px;
}

/* benner section */
.benner-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.benner-text{
    width: 50%;
}
.benner-text h1{
    font-size: 52px;
    font-weight: bold;
    color: var(--main-text);
}
.benner-text p{
    font-size: 16px;
    font-weight: 600px;
    line-height: 24px;
    color: var(--main-text);
    margin: 16px 0px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.benner-image{
    text-align: center;
    width: 50%;
}
.main-camera{
    width: 85%;
    animation: mainanimation 2s ease-in-out infinite alternate;
    transition: all .5s ease;
}
@keyframes mainanimation {
    0%{
        transform: scale(.3);
    }
    50%{
        transform: scale(.5);
    }
    100%{
        transform: scale(1);
    }
}

/* brands logo area css */
.logos{
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.logos img{
    margin: 15px 30px;
}
hr{
    border: 1px solid #5c5c5cb7;
}

/* collection section css */
.collection-section{
    margin-top: 100px;
}
.section-title{
    font-size: 28px;
    font-weight: 600;
    color: var(--main-text);
    text-align: center;
}
.collections{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.collection{
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.collection-image img{
    border-radius: 5px;
    width: 100%;
}
.collection-info .collection-name{
    margin-top: 16px;
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
}
.collection-info .price{
    font-size: 24px;
    font-weight: normal;
    color:#000000de;
}
.rating .oreng{
    color: #FB8200;
    font-size: 14px;

}
.rating span{
    margin-left: 10px;
    font-size: 14px;
    color: #5E6366;
    font-weight: bold;
}
.collection-info .info{
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.018em;
    color: #787885;
    display: block;
}
.see-more{
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin-top: 50px;
    font-weight: bold;
    color: #e02c6dde;
    text-align: right;
}

/* subscribe section css */
.subscribe-section{
    margin-top: 50px;
    margin-bottom: 50px;
}
.subscribe-section p{
    text-align: center;
    font-size: 14px;
}
.input-subscribe{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.input-subscribe input{
    padding: 10px 60px 10px 15px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: none;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-right: 10px;
}



/* footer section css */
.footer-area{
    background: #0A0826;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer-title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 50px;
}
.copy-right, .allright{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    margin: 10px 0px;
}
.sosial-icon{
    display: flex;
    justify-content: center;
    margin: 10px 0px 50px;
}
.sosial-icon i{
    color: #ffffff;
    width: 32px;
    height: 32px;
    background: #22213C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 8px;
}

/* responsive */
@media (max-width:688px){
    .container{
        max-width: 100%;
    }
    .header-section{
        flex-direction: column;
        justify-content: space-around;
    }
    .logo{
        margin-top: 30px;
    }
    .navigation ul li a,.manubar-icon .fa-search{
        margin-right: 15px;
        font-size: 15px;
    }
    .benner-section{
        flex-direction: column;
    }
    .benner-text{
        order: 2;
        width: 100%;
    }
    .benner-text h1{
        font-size: 28px;
        text-align: center;
        margin-top: 25px;
    }
    .benner-text p{
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        margin-top: 10px;
    }
    .center{
        display: flex;
        justify-content: center;
    }
    .benner-image{
        width: 100%;
        margin-top: 20px;
    }
    .main-camera{
        width: 80%;
    }
    .logos{
        margin-top: 50px;
    }
    .collections{
        grid-template-columns: 1fr;
    }
    .input-subscribe{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .input-subscribe input{
        margin-bottom: 15px;
    }
    .footer-area{
        max-width: 100vh;
    }
}

@media (min-width:688px) and (max-width:992px){
    .container{
        max-width: 100%;
    }
    .navigation ul li a,.manubar-icon .fa-search{
        font-size: 14px;
        margin-right: 10px;
    }
    .benner-text h1{
        font-size: 40px;
        display: inli;
    }
}